* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.col-3 {
    flex-basis: 33.3%;
    padding: 20px;
}

.col-3 img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    overflow: hidden;
}

.col-3 a {
    text-decoration: none;
    color: black;
}

@media(max-width: 768px) {
    .col-3 {
    flex-basis: 50%;
    }
}

@media(max-width: 500px) {
    .col-3 {
    flex-basis: 100%;
    }
}